

/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}


/* Extra CSS */
.bottom {
  position: fixed;
  text-align: right;
  font-family: "Fira Mono";
  line-height: 0.7;
  right: 0;
  bottom: 0;
  padding-right: 100px;
  padding-bottom: 100px;
}
.small {
  font-size: 0.75rem;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.large {
  font-size: 1.5rem;
}
.remark-slide-number {
  opacity: 0;
}
